@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    background-color: #f4f4f4;
  }

  #container {
    display: flex;
    height: 100vh;
  }

  .partition {
    flex: 1;
    text-align: center;
    padding: 20px;
    position: relative;
    transition: transform 0.4s ease;
  }

  #left {
	  background: linear-gradient( #FF4B2B, #FF416C); /* Adjust color */
    color: #fff;
    transform: scale(1);
  }

  #right {
	  background: linear-gradient( #FF4B2B, #FF416C);  /* Adjust color */
    color: #fff;
    transform: scale(1);
  }

  .centerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 12px;
    transition: background-color 0.3s ease; /* Smooth transition */
  }

  .centerButton:hover {
    background-color: #708090; /* Adjust hover color */
  }

  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  h1{
    margin-top: 150px ;
  }

  