<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link rel="stylesheet" href="../static/assets/css/home.css" />

    <link rel="stylesheet" href="../static/assets/css/contact.css" />
    <title>Contact Us</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a class="logo" href="../templates/restHome.html"
          >FoodShare<span>.</span></a
        >
        <ul class="menu-links">
          <span id="close-menu-btn" class="material-symbols-outlined">close</span>
          <li><a href="/charHome">Home</a></li>
          <li><a href="/about">About us</a></li>
          <li><a href="/charcontact">Contact us</a></li>
          <li><a href="/charProfile">Profile</a></li>
        </ul>
        <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
      </nav>
    </header>
    <section class="hero-section">
      <div class="container" id="container">
        <div class="form-container">
          <form action="#">
            <h1>Contact Us</h1>
            <input type="text" placeholder="Name" required />
            <input type="email" placeholder="Email" required />
            <input type="number" placeholder="Phone No." required />
            <textarea placeholder="Message"></textarea>
            <button>Submit</button>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
