<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FoodShare</title>
  <link rel="stylesheet" href="../static/assets/css/index.css">
</head>

<body>
  <div id="container">
    <div id="left" class="partition">
      <h1>Restaurant</h1>
      <button class="centerButton" label="centerButton" onclick="leftButtonClick()">
        <a href="/restLogin"><img src="../static/assets/img/hotel.jpeg" alt="Left Image"></a>
      </button>
    </div>
    
    <div id="right" class="partition">
      <h1>Charity</h1>
      <button class="centerButton" label="centerButton" onclick="rightButtonClick()">
        <a href="/charLogin"><img src="../static/assets/img/charity.jpeg" alt="Right Image"></a>
      </button>
    </div>
  </div>

  <script src="../static/assets/js/index.js"></script>
</body>

</html>

